body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

main {
    padding: 20px;
}

#zip-code {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#map-section {
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#map {
    height: 400px;
}

#hospitals-section, #hospital-selection, #hospital-comparison {
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.bar-graph-container {
    margin-top: 10px;
    padding: 10px;
}

.bar-graph {
    display: flex;
    align-items: center;
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.bar-label {
    width: 30%;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}
